/* GENERAL */
body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0vw;
}

/* NAVIGATOR */

.img-nav {
    width: 100vw;
    padding: 0% 30% 1% 30%;
    background-color: #47b4ed;
}
.navbar-collapse {
    width: 100vw;
    justify-content: center;
    border: 0.5mm solid;
    border-color: black;
    font-size: 1.2vw;
}

/* BANNER */

.banner {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/CopiaUnnamed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
    height: 54vh;
}

.text-front {
    color: white;
    font-size: 12vw;
    font-family: 'Montserrat', sans-serif;
    align-self: flex-end;
    padding-top: 8vw;
}

.reserva {
    display: grid;
    grid-row: 1fr 1fr 1fr;
    width: 66vw;
    background-color: white;
    border: 1mm solid;
    border-color: #47b4ed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

.divreserva {
    padding: 3vw 0 8vw 0;
}

.reservagrid {
    display: grid;
    grid-template-columns: 27vw 25vw 14vw;
    grid-template-rows: auto;
    background-color: white;

}

/* INFORMACION DE CABANAS */

.cabanas {
    width: 30vw;
    height: auto;
}

.secCabanas {
    background: linear-gradient(180deg, #47b4ed, rgb(250,250,250));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
}

.titcab {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    color: white;
    font-size: 2.5vw;
    padding: 2vh;
}

.precio {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #47b4ed;
    font-size: 2vw;
    padding-top: 1vh;
}

/* LOCATION */

.location {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 60vw 40vw;
}

.hlocation {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #47b4ed;
    font-size: 3vw;
    text-align: center;
    grid-column: 1/3;
    padding-top: 20px;
}
 
#dlocation {
    grid-row: 2/4;
    justify-self: center;
    width: 100%;
    height: auto;
}

.dlocation {
    font-size: 2vw;
    font-weight: 800;
    color: #47b4ed;
}

.divlocation {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
}

.segundo {
    align-self: flex-start;
}

.maps {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

/* FOOTER */

.footer {
    text-align: center;
    padding: 3% 0 3% 0;
    background-color:#47b4ed;
    font-family: 'Montserrat', sans-serif;
}

.correo {
    font-family: 'Montserrat', sans-serif;
}

.formc {
    border: none;
}

.labelformcontact {
    display: block;
}

.imgsafari {
    height: auto;
}

.imgsafarica {
    width: 65vw;
}

.cabanasafari {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.imagenbanner {
    width: 50%;
    height: 50%;
}
/* ACTIVIDADES */

.secdeportes {
    display: flex;
    height: auto;
    justify-content:center;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    gap: 2vh;
}

.pdeportes {
    background-color: white;
    margin: 0;
    text-align: center;
    font-size: 2vw;
}

.titdeportes {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

/* CABANAS */

.titcabanapage {
    text-align: center;
}


/* QUIENES SOMOS */

.bannersomos {
    display: flex;
    flex-direction: column;
}

.titsomos {
    color:#47b4ed;
    font-size: 500%;
    position: relative;
    font-size: 5vw;
}

.imgsomos {
    width: 100%;
    height: auto;
}

.storyfamily {
    width: 70%;
    text-align: center;
    padding: 0 0 0 15%;
}

.psomos {
    width: 80vw;
    align-self: center;
    text-align: center;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.nuestrassomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.imgsomos2 {
    align-self: flex-end;
    grid-row: 1/4;
    border: 2em solid;
    border-color: #47b4ed;
    margin: 0 0 0 2vw;
}
.imgsomoss2 {
    width: 100%;
}

.botonsomos {
    border: 0.1em solid;
    display: inline-block;
}

.titbannercabanas {
    font-size: 3vw;
}

.divtitbannercabanas {
    align-self: self-end;
    justify-self: center;
}


/* MEDIA QUERIES */
/*TABLET */
@media only screen and (max-width: 768px) {

}

/* CELULAR */

/* HOME */
@media only screen and (max-width: 576px) {

    .img-nav {
        height: 15vh;
        padding: 0 0 0 0;
    }

    .navbar-collapse {
        font-size: 3vw;
    }

    .banner {
        height: 35vh;
    }

    .secCabanas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }

    .titancestral {
        order: -3;
    }

    .titsafari {
        order: 1;
    }

    .imgsafari {
        order: 2;
    }

    .imgancestral {
        order: -2;
    }

    .prancestral {
        order: -1;
    }

    .prsafari {
        order: 3;
    }

    .titcab {
        font-size: 7vw;
    }
    .cabanas {
        width: 60vw;
    }

    .precio {
        font-size: 5vw;
    }

    .location {
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto;
    }

    .hlocation {
        grid-column: unset;
    }

    #dlocation {
        grid-row: unset;
    }

    .footer {
        font-size: 2vw;
    }

    .correo {
        font-size: 2vw;
    }

    /* ACTIVIDADES */

    .secdeportes {
        flex-direction: column;
        align-content: center;
        text-align: center;
        background-image: url(../imagenes/abstract-template.jpeg);
        padding: 4vh 0;
    }

    .imgdeporte {
        width: 70vw;
    }
}