/* ACTIVIDADES */

.tit-deportes {
    text-align: center;
    font-size: 5rem;
    color: $main;
    padding-top: 3.5vh;
}

.text-deportes {
    font-size: 1.5rem;
    color: $third;
    text-align: center;
}

.sec-deportes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60vh auto;
    justify-content: center;
    @include regular;
    gap: 2vw;
    padding: 2vw;
    div {
        text-align: center;
        .carousel {
            width: 100%;
            height: 100%;
            .carousel-inner {
                width: 100%;
                height: 100%;
                .carousel-item {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
            }
        }
        
        }
    }
    .iframe-cascada {
        grid-column: 1/3;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carrusel {
        grid-column: 3/5;
    }
    .img-deporte {
        width: 22vw;
    }
    .pdeportes {
        background-color: $white;
        margin: 0;
        text-align: center;
        font-size: 2rem;
    }
    .pdeportes.t {
        color: $main;
        @include black;
    }
    .pdeportes.precio {
        font-size: 1.5rem;
    }
}

