/* CABAÑAS */

.tit-cabana-page {
    text-align: center;
    color: $main;
    padding-top: 2vh;
    @include h1;
}

.subtexto {
    @include parrafo;
    text-align: center;
    padding-bottom: 2vh;
}

.banner-safaris {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5vh, repeat(2, 1fr);
    justify-items: center;
    background-color: $main;
    padding: 0 0 2vh 0;
    margin-bottom: 3vh;
    .tit-fotos-safari {
        grid-column: 1/5;
        padding: 2vh 0 0 0;
        h2 {
            color: $white;
            @include h2;
        }
    }
    .div-fotos-cabanas {
        display: flex;
        flex-direction: column;
        width: 20vw;
        align-items: center;
        img {
            width: 100%;
            height: auto;
            padding-top: 2vh;
        }
        h5 {
            @include h3;
            color: $white;
            padding-top: 1vh;
        }
        p {
            @include mini-parrafo;
            text-align: center;
            align-items: center;
        }
    }
}

.banner-safaris-mobile {
    display: none;
}

.banner-ancestral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 30vh 30vh;
    margin-bottom: 3vh;
    .foto-ancestral-mobile {
        display: none;
    }
    .tit-fotos-ancestral {
        grid-column: 1/5;
        grid-row: 1/2;
        justify-self: center;
        padding-bottom: 2vh;
        h2 {
            color: $main;
            @include h2;
        }
    }
    .img-ancestral-cabana {
        grid-column: 1/2;
        grid-row: 2/4;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .tit-ancestral-cabana {
        grid-column: 2/3;
        grid-row: 2/3;
        font-weight: 800;
        align-self: end;
        p {
            text-align: center;
            color: $third;
            @include h3;
        }
    }
    .text-ancestral-cabana {
        grid-column: 2/3;
        grid-row: 3/4;
        p {
            text-align: center;
            @include parrafo;
        }
    }
}