/* CABAÑAS */

.titcabanapage {
    text-align: center;
    font-size: 4vw;
    color: #47b4ed;
}

.cabanasafari {
    display: flex;
    align-items: center;
    gap: 1vw;
    .imgsafarica {
        width: 65vw;
    }
    .parrafocabanas {
        font-size: 1.4vw;
        width: 50vw;
        padding: 2vw;
    }
}