/* BANNER */

.gridbanner {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: repeat(5, 1fr);
    .imggridbanner {
        width: 35vw;
        grid-row: 1/6;
    }
    .text-gridbanner-parent {
        align-self: center;
        justify-self: center;
        .text-gridbanner {
            color: $main;
            font-size: 8vw;
            @include black;
        }
        .text-gridbanner.blue {
            color: $second;
        }
    }
    .parrafogridbanner-parent {
        align-self: center;
        display: flex;
        justify-content: center;
        .parrafogridbanner {
            text-align: center;
            width: 80%;
            @include regular;
            font-size: 1.5rem;
        }
    }
    .buttonparent {
        display: flex;
        justify-content: center;
        .buttonreserva {
            font-size: 2vw;
            @include semibold;
            background-color:$main;
            padding: 4%;
            border: $second 0.3vw solid;
            // border-radius: 7%;
            color: $white;
        }
    }
}


/* INFORMACION DE CABANAS */

.secCabanas {
    background: linear-gradient(180deg, $main, rgb(250,250,250));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    padding-bottom: 3vh;
    .titcab {
        @include semibold;
        color: $white;
        font-size: 2.5vw;
        padding: 2vh;
    }
    .precio {
        @include semibold;
        color: $white;
        font-size: 2vw;
        padding-top: 1vh;
    }
    .cabanas {
        width: 30vw;
        height: auto;
    }
    .incluye {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/3;
        @include parrafo;
        .incluyetitulo {
            @include bold;
            font-size: 2.5vw;
            color: $white;
        }
        .incluyecierre {
            @include bold;
        }
    }
}

/* BANNER FOTOS */

.bannerfotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh 30vh;
    padding: 1vw;
    gap: 1vw;
    .divimgbannerfotos {
        height: 100%;
        width: 100%;
        .imgbannerfotos {
            width: 100%;
            height: 100%;
            border-radius: 15%;
            object-fit: cover;
        }
    }
}

/* LOCATION */

.location {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 40vw 60vw;
    .hlocation {
        @include black;
        color: $third;
        font-size: 7vw;
        text-align: center;
        grid-column: 1/3;
        padding-top: 20px;
    }
    #dlocation {
        grid-row: 2/4;
        justify-self: center;
        width: 100%;
        height: 100%;
        padding: 1vw;
    }
    .divlocation {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-self: center;
        width: 100%;
        height: 100%;
        font-size: 1vw;
        .dlocation {
            font-size: 4vw;
            @include black;
            color: $main;
        }
        .horariosLocation {
            flex: 1;
            @include parrafo;
        }
    }
    .divlocation .segundo {
        align-self: flex-start;
        .dlocation.final {
            font-size: 2.5vw;
            @include black;
            color: $main;
        }
    }
}