section {
    .titulo-menu {
        @include h1;
        color: $main;
        text-align: center;
        margin: 0 0 -20px 0;
    }
    .menu {
        height: 80vh;
        width: auto;
        margin-bottom: 20px;
        .carousel {
            height: 80vh;
            width: auto;
            .carousel-inner {
                .carousel-item {
                    right: -35%;
                    #img-menu {
                        height: 80vh;
                        width: auto;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.boton-menu {
    text-align: center;
    border: 0.3em solid $third;
    width: 25%;
    margin-left: 37%;
    a {
        text-decoration: unset;
        color: $third;
        @include h2;
    }
}