/* QUIENES SOMOS */

.imgsomos {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.bannersomos {
    display: flex;
    flex-direction: column;
    .titsomos {
        color: $main;
        position: relative;
        font-size: 5vw;
    }
    .psomos {
        width: 80vw;
        align-self: center;
        text-align: center;
        font-size: 1.4vw;
        @include regular;
    }
}

.nuestrassomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding: 2vh 0 4vh 0;
    .imgsomos2 {
        align-self: flex-end;
        grid-row: 1/4;
        border: 2em solid;
        border-color: $main;
        margin: 0 0 0 2vw;
        .imgsomoss2 {
            width: 100%;
            height: 80vh;
        }
    }
    .divtitbannercabanas {
        align-self: self-end;
        .titbannercabanas {
            font-size: 4vw;
            @include black;
            color: $third;
        }
    }
    .divparrafobanner {
        height: auto;
        display: flex;
        flex-direction: column;
        .parrafobanner {
            width: 40vw;
            text-align: center;
            font-size: 1.2vw;
        }
    }
    .botonsomos {
        border: 0.1em solid;
        display: inline-block;
        text-align: center;
        font-size: 1vw;
        width: auto;
    }
    a {
        text-decoration: none;
        color: $black;
        @include bold;
    }
}
