/* QUIENES SOMOS */

.img-somos {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.banner-somos {
    display: flex;
    flex-direction: column;
    .tit-somos {
        color: $main;
        position: relative;
        @include h1;
    }
    .psomos {
        width: 80vw;
        align-self: center;
        text-align: center;
        @include parrafo;
    }
}

.nuestras-somos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding: 2vh 0 4vh 0;
    .img-somos2 {
        align-self: flex-end;
        grid-row: 1/4;
        border: 2em solid;
        border-color: $main;
        margin: 0 0 0 2vw;
        .img-somoss2 {
            width: 100%;
            height: 80vh;
        }
    }
    .div-tit-banner-cabanas {
        align-self: self-end;
        .tit-banner-cabanas {
            font-size: 4vw;
            @include h2;
            color: $third;
        }
    }
    .div-parrafo-banner {
        height: auto;
        display: flex;
        flex-direction: column;
        .parrafo-banner {
            width: 40vw;
            text-align: center;
            @include mini-parrafo;
        }
    }
    .boton-somos {
        border: 0.1em solid;
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        width: auto;
    }
    a {
        text-decoration: none;
        color: $black;
        @include bold;
    }
}
