@charset "UTF-8";
/* vars */
/* BRAND COLORS */
/* FONTS */
/* FONTS DESKOPT */
/* FONTS 576 */
/* FONTS 429 */
/* BANNER */
.grid-banner {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(5, 1fr);
}
.grid-banner .img-grid-banner {
  width: 117%;
  grid-row: 1/6;
}
.grid-banner .text-gridbanner-parent {
  align-self: center;
  justify-self: center;
}
.grid-banner .text-gridbanner-parent .text-gridbanner {
  color: #00bbd6;
  font-size: 7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.grid-banner .text-gridbanner-parent .text-gridbanner.blue {
  color: #228fa2;
}
.grid-banner .parrafogridbanner-parent {
  align-self: center;
  display: flex;
  justify-content: center;
}
.grid-banner .parrafogridbanner-parent .parrafogridbanner {
  text-align: center;
  width: 80%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.grid-banner .button-parent {
  display: flex;
  justify-content: center;
}
.grid-banner .button-parent .button-reserva {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: #00bbd6;
  padding: 4%;
  border: #228fa2 0.3vw solid;
  color: white;
}
.grid-banner .booking {
  align-content: baseline;
  justify-content: center;
}

/* INFORMACION DE CABANAS */
.secCabanas {
  background: linear-gradient(180deg, #00bbd6, rgb(250, 250, 250));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  padding-bottom: 3vh;
}
.secCabanas .tit-cab {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2.5rem;
  padding: 2vh;
}
.secCabanas .precio {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2rem;
  padding-top: 1vh;
}
.secCabanas .img-safari .cabanas {
  width: 30vw;
  height: auto;
}
.secCabanas .img-ancestral .cabanas {
  width: 30vw;
  height: auto;
}
.secCabanas .incluye {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/3;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.secCabanas .incluye .incluye-titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
}
.secCabanas .incluye .incluye-cierre {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.secCabanas .incluye p a {
  text-decoration: none;
  color: #f1bb1b;
}

/* BANNER FOTOS */
.banner-fotos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vh 30vh;
  padding: 1vw;
  gap: 1vw;
}
.banner-fotos .div-img-banner-fotos {
  height: 100%;
  width: 100%;
}
.banner-fotos .div-img-banner-fotos .img-banner-fotos {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* LOCATION */
.location {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 40vw 60vw;
}
.location .hlocation {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #f1bb1b;
  font-size: 7rem;
  text-align: center;
  grid-column: 1/3;
  padding-top: 20px;
}
.location #dlocation {
  grid-row: 2/4;
  justify-self: center;
  width: 100%;
  height: 100%;
  padding: 1vw;
}
.location .div-location {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.location .div-location .dlocation {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #00bbd6;
}
.location .div-location .horariosLocation {
  flex: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.location .div-location .segundo {
  align-self: flex-start;
}
.location .div-location .segundo .dlocation.final {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #00bbd6;
}

/* ACTIVIDADES */
.tit-deportes {
  text-align: center;
  font-size: 5rem;
  color: #00bbd6;
  padding-top: 3.5vh;
}

.text-deportes {
  font-size: 1.5rem;
  color: #f1bb1b;
  text-align: center;
}

.sec-deportes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60vh auto;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  gap: 2vw;
  padding: 2vw;
}
.sec-deportes div {
  text-align: center;
}
.sec-deportes div .carousel {
  width: 100%;
  height: 100%;
}
.sec-deportes div .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.sec-deportes div .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
.sec-deportes div .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec-deportes .iframe-cascada {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.sec-deportes .iframe-cascada img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-deportes .carrusel {
  grid-column: 3/5;
}
.sec-deportes .img-deporte {
  width: 22vw;
}
.sec-deportes .pdeportes {
  background-color: white;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}
.sec-deportes .pdeportes.t {
  color: #00bbd6;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.sec-deportes .pdeportes.precio {
  font-size: 1.5rem;
}

/* CABAÑAS */
.tit-cabana-page {
  text-align: center;
  color: #00bbd6;
  padding-top: 2vh;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 6.3rem;
}

.subtexto {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 2vh;
}

.banner-safaris {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5vh, repeat(2, 1fr);
  justify-items: center;
  background-color: #00bbd6;
  padding: 0 0 2vh 0;
  margin-bottom: 3vh;
}
.banner-safaris .tit-fotos-safari {
  grid-column: 1/5;
  padding: 2vh 0 0 0;
}
.banner-safaris .tit-fotos-safari h2 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.banner-safaris .div-fotos-cabanas {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
}
.banner-safaris .div-fotos-cabanas img {
  width: 100%;
  height: auto;
  padding-top: 2vh;
}
.banner-safaris .div-fotos-cabanas h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  padding-top: 1vh;
}
.banner-safaris .div-fotos-cabanas p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  align-items: center;
}

.banner-safaris-mobile {
  display: none;
}

.banner-ancestral {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 30vh 30vh;
  margin-bottom: 3vh;
}
.banner-ancestral .foto-ancestral-mobile {
  display: none;
}
.banner-ancestral .tit-fotos-ancestral {
  grid-column: 1/5;
  grid-row: 1/2;
  justify-self: center;
  padding-bottom: 2vh;
}
.banner-ancestral .tit-fotos-ancestral h2 {
  color: #00bbd6;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
.banner-ancestral .img-ancestral-cabana {
  grid-column: 1/2;
  grid-row: 2/4;
}
.banner-ancestral .img-ancestral-cabana img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-ancestral .tit-ancestral-cabana {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 800;
  align-self: end;
}
.banner-ancestral .tit-ancestral-cabana p {
  text-align: center;
  color: #f1bb1b;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.banner-ancestral .text-ancestral-cabana {
  grid-column: 2/3;
  grid-row: 3/4;
}
.banner-ancestral .text-ancestral-cabana p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

/* CONTACTO */
.titulo-form {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 6.3rem;
  color: #00bbd6;
}

.grid-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.grid-form a {
  text-decoration: none;
  color: black;
}

.contactoEncuentranos .maps {
  height: 50vh;
  padding: 2vh 2vw;
}
.contactoEncuentranos h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: #f1bb1b;
  text-align: center;
  padding-top: 2vh;
}

/* QUIENES SOMOS */
.img-somos {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-somos {
  display: flex;
  flex-direction: column;
}
.banner-somos .tit-somos {
  color: #00bbd6;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 6.3rem;
}
.banner-somos .psomos {
  width: 80vw;
  align-self: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.nuestras-somos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 2vh 0 4vh 0;
}
.nuestras-somos .img-somos2 {
  align-self: flex-end;
  grid-row: 1/4;
  border: 2em solid;
  border-color: #00bbd6;
  margin: 0 0 0 2vw;
}
.nuestras-somos .img-somos2 .img-somoss2 {
  width: 100%;
  height: 80vh;
}
.nuestras-somos .div-tit-banner-cabanas {
  align-self: self-end;
}
.nuestras-somos .div-tit-banner-cabanas .tit-banner-cabanas {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: #f1bb1b;
}
.nuestras-somos .div-parrafo-banner {
  height: auto;
  display: flex;
  flex-direction: column;
}
.nuestras-somos .div-parrafo-banner .parrafo-banner {
  width: 40vw;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}
.nuestras-somos .boton-somos {
  border: 0.1em solid;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  width: auto;
}
.nuestras-somos a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

section .titulo-menu {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 6.3rem;
  color: #00bbd6;
  text-align: center;
  margin: 0 0 -20px 0;
}
section .menu {
  height: 80vh;
  width: auto;
  margin-bottom: 20px;
}
section .menu .carousel {
  height: 80vh;
  width: auto;
}
section .menu .carousel .carousel-inner .carousel-item {
  right: -35%;
}
section .menu .carousel .carousel-inner .carousel-item #img-menu {
  height: 80vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.boton-menu {
  text-align: center;
  border: 0.3em solid #f1bb1b;
  width: 25%;
  margin-left: 37%;
}
.boton-menu a {
  text-decoration: unset;
  color: #f1bb1b;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}

/* CABAÑAS */
.card-safari {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.card-safari .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 80%;
}

/* GENERAL */
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0vw;
  font-family: "Raleway", sans-serif;
}
body h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

/* NAVIGATOR */
.newnav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.newnav .img-nav {
  background-color: white;
  width: 20vw;
}
.newnav .navbar-collapse {
  font-size: 1.1rem;
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.newnav .navbar-nav {
  width: 70vw;
  justify-content: space-evenly;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 2.5vh 0 2.5vh 0;
  background-color: #00bbd6;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: white;
}
.footer .correo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.footer .correo i {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.footer .text-footer {
  font-size: 0.9rem;
}
.footer .text-footer-dos.primero {
  margin-top: 2.5vh;
}
.footer .text-footer-dos {
  font-size: 0.7rem;
}

/* MEDIA QUERIES */
/* CELULARES GRANDES */
@media only screen and (max-width: 576px) {
  .newnav .img-nav {
    height: auto;
    padding: 0 0 0 0;
    width: 38vw;
  }
  .newnav .navbar-collapse {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .grid-banner {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 30vw 70vw;
  }
  .grid-banner .img-grid-banner {
    grid-row: 1/6;
    grid-column: 1/2;
  }
  .grid-banner .text-gridbanner-parent .text-gridbanner {
    font-size: 2.9rem;
  }
  .grid-banner .text-gridbanner-parent .main {
    align-self: self-end;
    grid-row: 2/3;
  }
  .grid-banner .text-gridbanner-parent .blue {
    grid-row: 3/4;
  }
  .grid-banner .text-gridbanner-parent .blue .segundo {
    grid-row: 4/5;
  }
  .grid-banner .parrafogridbanner-parent .parrafogridbanner {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .grid-banner .button-parent {
    grid-row: 7/8;
    grid-column: 1/3;
    margin-bottom: 1rem;
  }
  .grid-banner .button-parent .button-reserva {
    font-size: 1.5rem;
  }
  .secCabanas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
  .secCabanas .tit-ancestral {
    order: -3;
  }
  .secCabanas .tit-ancestral .tit-cab {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }
  .secCabanas .tit-safari {
    order: 1;
  }
  .secCabanas .tit-safari .tit-cab {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }
  .secCabanas .img-safari {
    order: 2;
  }
  .secCabanas .img-safari .cabanas {
    width: 60vw;
  }
  .secCabanas .img-ancestral {
    order: -2;
  }
  .secCabanas .img-ancestral .cabanas {
    width: 60vw;
  }
  .secCabanas .pr-ancestral {
    order: -1;
  }
  .secCabanas .pr-ancestral .precio {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .secCabanas .pr-safari {
    order: 3;
  }
  .secCabanas .pr-safari .precio {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .secCabanas .incluye {
    grid-column: unset;
    order: 6;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0 5%;
    text-align: center;
  }
  .secCabanas .incluye .incluye-titulo {
    font-size: 3rem;
    color: #f1bb1b;
  }
  .banner-fotos {
    grid-template-rows: repeat(4, 30vh);
    grid-template-columns: repeat(2, 1fr);
  }
  .location {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto;
  }
  .location .hlocation {
    grid-column: unset;
    font-size: 3.3rem;
  }
  .location #dlocation {
    grid-row: unset;
    height: 40vh;
  }
  .location .div-location .dlocation {
    font-size: 2.5rem;
  }
  .location .div-location .horariosLocation {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .footer .correo {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .footer .text-footer {
    font-size: 0.7rem;
    padding: 0 2vw;
  }
  .footer .text-footer-dos {
    font-size: 0.5rem;
  }
  .tit-deportes {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3rem;
  }
  .text-deportes {
    font-size: 1.3rem;
    margin-bottom: -1px;
  }
  .sec-deportes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-content: center;
    text-align: center;
    padding-top: 25px;
  }
  .sec-deportes .img-deporte {
    width: 70vw;
  }
  .sec-deportes .iframe-cascada {
    grid-column: unset;
    display: none;
  }
  .sec-deportes .carrusel {
    grid-column: unset;
    display: none;
  }
  .sec-deportes div .pdeportes {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }
  .sec-deportes div .pdeportes.precio {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  .tit-cabana-page {
    padding-top: 2.5vh;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3rem;
  }
  .subtexto {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0 20px;
  }
  .banner-safaris {
    display: none;
  }
  .banner-safaris-mobile {
    display: contents;
    padding-bottom: 80px;
  }
  .banner-safaris-mobile .tit-fotos-safari h2 {
    color: #00bbd6;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
  }
  .banner-safaris-mobile div div div h5 {
    color: #00bbd6;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    background-color: white;
  }
  .banner-safaris-mobile div div div p {
    background-color: #f1bb1b;
    color: black;
  }
  .banner-ancestral {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, auto);
  }
  .banner-ancestral .tit-fotos-ancestral {
    padding-top: 30px;
    padding-bottom: 0;
    grid-row: unset;
    grid-column: unset;
  }
  .banner-ancestral .tit-fotos-ancestral h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }
  .banner-ancestral .foto-ancestral-mobile {
    display: contents;
  }
  .banner-ancestral .foto-ancestral-mobile div div div h5 {
    color: #00bbd6;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    background-color: white;
  }
  .banner-ancestral .foto-ancestral-mobile div div div p {
    background-color: #f1bb1b;
    color: black;
  }
  .banner-ancestral .img-ancestral-cabana {
    grid-row: unset;
    grid-column: unset;
    display: none;
  }
  .banner-ancestral .tit-ancestral-cabana {
    grid-column: unset;
    grid-row: unset;
    display: none;
  }
  .banner-ancestral .text-ancestral-cabana {
    grid-column: unset;
    grid-row: unset;
    display: none;
  }
  .banner-somos .tit-somos {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3rem;
  }
  .banner-somos .psomos {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .nuestras-somos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
  .nuestras-somos .img-somos2 .img-somoss2 {
    height: auto;
  }
  .nuestras-somos .div-parrafo-banner .parrafo-banner {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    width: 100%;
  }
  .nuestras-somos .div-parrafo-banner .boton-somos {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 1rem;
    width: 100%;
  }
  section .titulo-menu {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
  }
  section .menu {
    height: auto;
    width: 100%;
  }
  section .menu .carousel {
    height: auto;
    width: 100%;
  }
  section .menu .carousel .carousel-inner .carousel-item {
    right: unset;
  }
  section .menu .carousel .carousel-inner .carousel-item #img-menu {
    height: auto;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .boton-menu {
    width: 50%;
    margin-left: 25%;
  }
  .boton-menu a {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }
}
/*CELULARES STANDARS */
@media only screen and (max-width: 429px) {
  .newnav .img-nav {
    height: auto;
    padding: 0 0 0 0;
    width: 38vw;
  }
  .newnav .navbar-collapse {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .grid-banner {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 30vw 70vw;
  }
  .grid-banner .img-grid-banner {
    grid-row: 1/7;
    grid-column: 1/2;
  }
  .grid-banner .text-gridbanner-parent .text-gridbanner {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    margin: 0;
  }
  .grid-banner .text-gridbanner-parent .main {
    align-self: self-end;
    grid-row: 2/3;
  }
  .grid-banner .text-gridbanner-parent .blue {
    grid-row: 3/4;
  }
  .grid-banner .text-gridbanner-parent .blue .segundo {
    grid-row: 4/5;
  }
  .grid-banner .parrafogridbanner-parent .parrafogridbanner {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .grid-banner .button-parent {
    grid-row: 7/8;
    grid-column: 1/3;
    margin-bottom: 1rem;
  }
  .grid-banner .button-parent .button-reserva {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .secCabanas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
  .secCabanas .tit-ancestral {
    order: -3;
  }
  .secCabanas .tit-ancestral .tit-cab {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
  }
  .secCabanas .tit-safari {
    order: 1;
  }
  .secCabanas .tit-safari .tit-cab {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
  }
  .secCabanas .img-safari {
    order: -2;
  }
  .secCabanas .img-safari .cabanas {
    width: 60vw;
  }
  .secCabanas .img-ancestral {
    order: 2;
  }
  .secCabanas .img-ancestral .cabanas {
    width: 60vw;
  }
  .secCabanas .pr-ancestral {
    order: -1;
  }
  .secCabanas .pr-ancestral .precio {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
  }
  .secCabanas .pr-safari {
    order: 3;
  }
  .secCabanas .pr-safari .precio {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
  }
  .secCabanas .incluye {
    grid-column: unset;
    order: 6;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0 5%;
    text-align: center;
  }
  .secCabanas .incluye .incluye-titulo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    color: #f1bb1b;
  }
  .banner-fotos {
    grid-template-rows: repeat(4, 20vh);
    grid-template-columns: repeat(2, 1fr);
  }
  .location {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto;
  }
  .location .hlocation {
    grid-column: unset;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
  }
  .location #dlocation {
    grid-row: unset;
    height: 40vh;
  }
  .location .div-location .dlocation {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
  }
  .location .div-location .horariosLocation {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .footer .correo {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .footer .text-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    padding: 0 2vw;
  }
  .footer .text-footer-dos {
    font-size: 0.4rem;
  }
  .tit-deportes {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
  }
  .text-deportes {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: -1px;
  }
  .sec-deportes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-content: center;
    text-align: center;
    padding-top: 25px;
  }
  .sec-deportes .img-deporte {
    width: 70vw;
  }
  .sec-deportes .iframe-cascada {
    grid-column: unset;
    display: none;
  }
  .sec-deportes .carrusel {
    grid-column: unset;
    display: none;
  }
  .sec-deportes div .pdeportes {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
  }
  .sec-deportes div .pdeportes.precio {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  .tit-cabana-page {
    padding-top: 2.5vh;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
  }
  .subtexto {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0 20px;
  }
  .banner-safaris {
    display: none;
  }
  .banner-safaris-mobile {
    display: contents;
  }
  .banner-safaris-mobile div {
    padding: 5px;
  }
  .banner-safaris-mobile .tit-fotos-safari h2 {
    color: #00bbd6;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    text-align: center;
  }
  .banner-safaris-mobile div div div h5 {
    color: #00bbd6;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    background-color: white;
  }
  .banner-safaris-mobile div div div p {
    background-color: #f1bb1b;
    color: black;
  }
  .banner-ancestral {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, auto);
  }
  .banner-ancestral .tit-fotos-ancestral {
    padding-top: 30px;
    padding-bottom: 0;
    grid-row: unset;
    grid-column: unset;
  }
  .banner-ancestral .tit-fotos-ancestral h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
  }
  .banner-ancestral .foto-ancestral-mobile {
    display: contents;
  }
  .banner-ancestral .foto-ancestral-mobile div {
    padding: 5px;
  }
  .banner-ancestral .foto-ancestral-mobile div div div h5 {
    color: #00bbd6;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    background-color: white;
  }
  .banner-ancestral .foto-ancestral-mobile div div div p {
    background-color: #f1bb1b;
    color: black;
  }
  .banner-ancestral .img-ancestral-cabana {
    grid-row: unset;
    grid-column: unset;
    display: none;
  }
  .banner-ancestral .tit-ancestral-cabana {
    grid-column: unset;
    grid-row: unset;
    display: none;
  }
  .banner-ancestral .text-ancestral-cabana {
    grid-column: unset;
    grid-row: unset;
    display: none;
  }
  .img-somos {
    height: 50vh;
  }
  .banner-somos .tit-somos {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    padding: 20px 10px 0 10px;
  }
  .banner-somos .psomos {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .nuestras-somos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
  .nuestras-somos .img-somos2 {
    margin: 0 17px;
  }
  .nuestras-somos .img-somos2 .img-somoss2 {
    height: auto;
  }
  .nuestras-somos .div-tit-banner-cabanas {
    text-align: center;
  }
  .nuestras-somos .div-tit-banner-cabanas .tit-banner-cabanas {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    margin: 10px 0;
  }
  .nuestras-somos .div-parrafo-banner {
    align-items: center;
  }
  .nuestras-somos .div-parrafo-banner .parrafo-banner {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    width: 100%;
    padding: 0 10px;
  }
  .nuestras-somos .div-parrafo-banner .boton-somos {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 1rem;
    width: 50%;
  }
  .titulo-form {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
  }
  .grid-form {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .contactoEncuentranos h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=style.css.map */