@charset "UTF-8";
/* vars */
/* BRAND COLORS */
/* FONTS */
/* BANNER */
.gridbanner {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: repeat(5, 1fr);
}
.gridbanner .imggridbanner {
  width: 35vw;
  grid-row: 1/6;
}
.gridbanner .text-gridbanner-parent {
  align-self: center;
  justify-self: center;
}
.gridbanner .text-gridbanner-parent .text-gridbanner {
  color: #00bbd6;
  font-size: 8vw;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.gridbanner .text-gridbanner-parent .text-gridbanner.blue {
  color: #228fa2;
}
.gridbanner .parrafogridbanner-parent {
  align-self: center;
  display: flex;
  justify-content: center;
}
.gridbanner .parrafogridbanner-parent .parrafogridbanner {
  text-align: center;
  width: 80%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 6rem;
}
.gridbanner .buttonparent {
  display: flex;
  justify-content: center;
}
.gridbanner .buttonparent .buttonreserva {
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: #00bbd6;
  padding: 4%;
  border: #228fa2 0.3vw solid;
  color: white;
}

/* INFORMACION DE CABANAS */
.secCabanas {
  background: linear-gradient(180deg, #00bbd6, rgb(250, 250, 250));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  padding-bottom: 3vh;
}
.secCabanas .titcab {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2.5vw;
  padding: 2vh;
}
.secCabanas .precio {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2vw;
  padding-top: 1vh;
}
.secCabanas .cabanas {
  width: 30vw;
  height: auto;
}
.secCabanas .incluye {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/3;
  font-size: 1.6vw;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 5rem;
}
.secCabanas .incluye .incluyetitulo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  color: white;
}
.secCabanas .incluye .incluyecierre {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* BANNER FOTOS */
.bannerfotos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vh 30vh;
  padding: 1vw;
  gap: 1vw;
}
.bannerfotos .divimgbannerfotos {
  height: 100%;
  width: 100%;
}
.bannerfotos .divimgbannerfotos .imgbannerfotos {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* LOCATION */
.location {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 40vw 60vw;
}
.location .hlocation {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #f1bb1b;
  font-size: 7vw;
  text-align: center;
  grid-column: 1/3;
  padding-top: 20px;
}
.location #dlocation {
  grid-row: 2/4;
  justify-self: center;
  width: 100%;
  height: 100%;
  padding: 1vw;
}
.location .divlocation {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  height: 100%;
  font-size: 1vw;
}
.location .divlocation .dlocation {
  font-size: 4vw;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #00bbd6;
}
.location .divlocation .horariosLocation {
  flex: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 5rem;
}
.location .divlocation .segundo {
  align-self: flex-start;
}
.location .divlocation .segundo .dlocation.final {
  font-size: 2.5vw;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #00bbd6;
}

/* ACTIVIDADES */
.titdeportes {
  text-align: center;
  font-size: 5vw;
  color: #00bbd6;
  padding-top: 3.5vh;
}

.textdeportes {
  font-size: 1.5vw;
  color: #f1bb1b;
  text-align: center;
}

.secdeportes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60vh auto;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  gap: 2vw;
  padding: 2vw;
}
.secdeportes div {
  text-align: center;
}
.secdeportes div .carousel {
  width: 100%;
  height: 100%;
}
.secdeportes div .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.secdeportes div .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
.secdeportes div .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.secdeportes .iframecascada {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.secdeportes .iframecascada img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.secdeportes .carrusel {
  grid-column: 3/5;
}
.secdeportes .imgdeporte {
  width: 22vw;
}
.secdeportes .pdeportes {
  background-color: white;
  margin: 0;
  text-align: center;
  font-size: 2vw;
}
.secdeportes .pdeportes.t {
  color: #00bbd6;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.secdeportes .pdeportes.precio {
  font-size: 1.5vw;
}

/* CABAÑAS */
.titcabanapage {
  text-align: center;
  font-size: 7vw;
  color: #00bbd6;
  padding-top: 2vh;
}

.subtexto {
  font-size: 1.6vw;
  text-align: center;
  padding-bottom: 2vh;
}

.bannersafaris {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5vh, repeat(2, 1fr);
  justify-items: center;
  background-color: #00bbd6;
  padding: 0 0 2vh 0;
  margin-bottom: 3vh;
}
.bannersafaris .titfotossafari {
  grid-column: 1/5;
  padding: 2vh 0 0 0;
}
.bannersafaris .titfotossafari h2 {
  color: white;
  font-size: 3vw;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.bannersafaris .divfotoscabanas {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
}
.bannersafaris .divfotoscabanas img {
  width: 100%;
  height: auto;
  padding-top: 2vh;
}
.bannersafaris .divfotoscabanas h5 {
  font-size: 2.3vw;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  padding-top: 1vh;
}
.bannersafaris .divfotoscabanas p {
  font-size: 1.3vw;
  text-align: center;
  align-items: center;
}

.bannerancestral {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 30vh 30vh;
  margin-bottom: 3vh;
}
.bannerancestral .titfotosancestral {
  grid-column: 1/5;
  grid-row: 1/2;
  justify-self: center;
  padding-bottom: 2vh;
}
.bannerancestral .titfotosancestral h2 {
  color: #00bbd6;
  font-size: 3vw;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.bannerancestral .imgancestralcabana {
  grid-column: 1/2;
  grid-row: 2/4;
}
.bannerancestral .imgancestralcabana img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bannerancestral .titancestralcabana {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 800;
  align-self: end;
}
.bannerancestral .titancestralcabana p {
  text-align: center;
  color: #f1bb1b;
  font-size: 2.3vw;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.bannerancestral .textancestralcabana {
  grid-column: 2/3;
  grid-row: 3/4;
}
.bannerancestral .textancestralcabana p {
  text-align: center;
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.bannerancestral .imgbannercabanas.uno {
  grid-column: 1/2;
  grid-row: 3/4;
}
.bannerancestral .imgbannercabanas.uno img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.bannerancestral .imgbannercabanas.dos {
  grid-column: 2/3;
  grid-row: 3/4;
}
.bannerancestral .imgbannercabanas.dos img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.bannerancestral .imgbannercabanas.tres {
  grid-column: 3/4;
  grid-row: 3/4;
}
.bannerancestral .imgbannercabanas.tres img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/* CONTACTO */
.tituloform {
  text-align: center;
  font-size: 4vw;
  color: #00bbd6;
}

.gridform {
  display: flex;
  justify-content: center;
}
.gridform .flexform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gridform .flexform .labelformcontact {
  display: block;
  font-size: 1.5vw;
}

.contactoEncuentranos .maps {
  height: 50vh;
  padding: 3vw;
}

/* QUIENES SOMOS */
.imgsomos {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.bannersomos {
  display: flex;
  flex-direction: column;
}
.bannersomos .titsomos {
  color: #00bbd6;
  position: relative;
  font-size: 5vw;
}
.bannersomos .psomos {
  width: 80vw;
  align-self: center;
  text-align: center;
  font-size: 1.4vw;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.nuestrassomos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 2vh 0 4vh 0;
}
.nuestrassomos .imgsomos2 {
  align-self: flex-end;
  grid-row: 1/4;
  border: 2em solid;
  border-color: #00bbd6;
  margin: 0 0 0 2vw;
}
.nuestrassomos .imgsomos2 .imgsomoss2 {
  width: 100%;
  height: 80vh;
}
.nuestrassomos .divtitbannercabanas {
  align-self: self-end;
}
.nuestrassomos .divtitbannercabanas .titbannercabanas {
  font-size: 4vw;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #f1bb1b;
}
.nuestrassomos .divparrafobanner {
  height: auto;
  display: flex;
  flex-direction: column;
}
.nuestrassomos .divparrafobanner .parrafobanner {
  width: 40vw;
  text-align: center;
  font-size: 1.2vw;
}
.nuestrassomos .botonsomos {
  border: 0.1em solid;
  display: inline-block;
  text-align: center;
  font-size: 1vw;
  width: auto;
}

/* GENERAL */
html {
  font-size: 4px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0vw;
  font-family: "Raleway", sans-serif;
}
body h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

/* NAVIGATOR */
.newnav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  padding: 0% 0 0% 0;
  align-content: center;
  flex-wrap: wrap;
}
.newnav .img-nav {
  background-color: white;
  width: 20vw;
}
.newnav .navbar-collapse {
  font-size: 1.2vw;
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.newnav .navbar-nav {
  width: 70vw;
  justify-content: space-evenly;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 2.5vh 0 2.5vh 0;
  background-color: #00bbd6;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: white;
}
.footer .correo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}
.footer .correo i {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.footer .textfooter {
  font-size: 1vw;
}
.footer .textfooterdos.primero {
  margin-top: 2.5vh;
}
.footer .textfooterdos {
  font-size: 0.7vw;
}

/* MEDIA QUERIES */
/*TABLET */
/* CELULAR */
@media only screen and (max-width: 576px) {
  .newnav .img-nav {
    height: auto;
    padding: 0 0 0 0;
    width: 38vw;
  }
  .newnav .navbar-collapse {
    font-size: 3vw;
  }
  .gridbanner {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 30vw 70vw;
  }
  .gridbanner .imggridbanner {
    grid-row: 1/6;
    grid-column: 1/2;
  }
  .gridbanner .text-gridbanner-parent .main {
    align-self: self-end;
    grid-row: 2/3;
  }
  .gridbanner .text-gridbanner-parent .blue {
    grid-row: 3/4;
  }
  .gridbanner .text-gridbanner-parent .blue .segundo {
    grid-row: 4/5;
  }
  .gridbanner .parrafogridbanner-parent .parrafogridbanner {
    font-size: 3vw;
    margin-top: 1rem;
  }
  .gridbanner .buttonparent {
    grid-row: 7/8;
    grid-column: 1/3;
    margin-bottom: 1rem;
  }
  .gridbanner .buttonparent .buttonreserva {
    font-size: 4vw;
  }
  .secCabanas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
  .secCabanas .titancestral {
    order: -3;
  }
  .secCabanas .titancestral .titcab {
    font-size: 7vw;
  }
  .secCabanas .titsafari {
    order: 1;
  }
  .secCabanas .titsafari .titcab {
    font-size: 7vw;
  }
  .secCabanas .imgsafari {
    order: 2;
  }
  .secCabanas .imgsafari .cabanas {
    width: 60vw;
  }
  .secCabanas .imgancestral {
    order: -2;
  }
  .secCabanas .imgancestral .cabanas {
    width: 60vw;
  }
  .secCabanas .prancestral {
    order: -1;
  }
  .secCabanas .prancestral .precio {
    font-size: 5vw;
  }
  .secCabanas .prsafari {
    order: 3;
  }
  .secCabanas .prsafari .precio {
    font-size: 5vw;
  }
  .secCabanas .incluye {
    grid-column: unset;
    order: 6;
    font-size: 1rem;
    padding: 0 5%;
    text-align: center;
  }
  .secCabanas .incluye .incluyetitulo {
    font-size: 3rem;
    color: #f1bb1b;
  }
  .bannerfotos {
    grid-template-rows: repeat(4, 30vh);
    grid-template-columns: repeat(2, 1fr);
  }
  .location {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto;
  }
  .location .hlocation {
    grid-column: unset;
    font-size: 9vw;
  }
  .location #dlocation {
    grid-row: unset;
    height: 40vh;
  }
  .location .divlocation .dlocation {
    font-size: 7vw;
  }
  .location .divlocation .horariosLocation {
    font-size: 2.5vw;
  }
  .footer .correo {
    font-size: 3vw;
  }
  .footer .textfooter {
    font-size: 2vw;
    padding: 0 2vw;
  }
  .footer .textfooterdos {
    font-size: 1.5vw;
  }
  .titdeportes {
    font-size: 3rem;
  }
  .textdeportes {
    font-size: 1.3rem;
  }
  .secdeportes {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    align-content: center;
    text-align: center;
    padding: 4vh 0;
  }
  .secdeportes .imgdeporte {
    width: 70vw;
  }
  .secdeportes .iframecascada {
    grid-column: unset;
    display: none;
  }
  .secdeportes .carrusel {
    grid-column: unset;
    display: none;
  }
  .secdeportes div .pdeportes {
    font-size: 3rem;
  }
  .secdeportes div .pdeportes.precio {
    font-size: 1.5rem;
  }
  .titcabanapage {
    padding-top: 2.5vh;
  }
  .cabanasafari {
    padding-bottom: 2vh;
    flex-direction: column;
  }
  .cabanasafari .parrafocabanas {
    width: 80vw;
    font-size: 2.5vw;
  }
  .bannersomos .titsomos {
    font-size: 6vw;
  }
  .bannersomos .psomos {
    font-size: 2.5vw;
  }
  .nuestrassomos .imgsomos2 .imgsomoss2 {
    height: auto;
  }
  .nuestrassomos .divparrafobanner .parrafobanner {
    font-size: 2vw;
  }
  .nuestrassomos .divparrafobanner .botonsomos {
    font-size: 2vw;
  }
}/*# sourceMappingURL=style.css.map */