/* vars */

/* BRAND COLORS */
$main: #00bbd6;
$second: #228fa2;
$third: #f1bb1b;
$fourth: #f59a7f;
$fifth: #8c4022;
$sixth: #5fb246;
$seventh: #4cbfa8;
$white: white;

/* FONTS */

@mixin bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

@mixin black {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

@mixin regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@mixin semibold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

@mixin parrafo {
    @include regular;
    font-size: 5rem;
}


@import "index";
@import "actividades";
@import "cabanas";
@import "contacto";
@import "quienes-somos";


/* GENERAL */

html {
    font-size: 4px;
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0vw;
    font-family: 'Raleway', sans-serif;
    h1 {
        @include black;
    }
}

/* NAVIGATOR */

.newnav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 0% 0 0% 0;
    align-content: center;
    flex-wrap: wrap;
    .img-nav {
        background-color: white;
        width: 20vw;
    }
    .navbar-collapse {
        font-size: 1.2vw;
        background-color: white;
        @include regular;
    }
    .navbar-nav {
        width: 70vw;
        justify-content: space-evenly;
    }
}

/* FOOTER */

.footer {
    text-align: center;
    padding: 2.5vh 0 2.5vh 0;
    background-color: $main;
    @include regular;
    color: white;
    .correo {
        @include regular;
        font-size: 1.5vw;
        i {
            @include regular;
        }
    }
    .textfooter {
        font-size: 1vw;
    }
    .textfooterdos.primero {
        margin-top: 2.5vh;
    }
    .textfooterdos {
        font-size: 0.7vw;
    }
}

/* MEDIA QUERIES */
/*TABLET */
@media only screen and (max-width: 768px) {

}

/* CELULAR */

@media only screen and (max-width: 576px) {


// GENERAL //

.newnav {
    .img-nav {
        height: auto;
        padding: 0 0 0 0;
        width: 38vw;
    }
    .navbar-collapse {
        font-size: 3vw;
    }
}

// INDEX //
// INDEX: BANNER PRINCIPAL

    .gridbanner {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 30vw 70vw;
        .imggridbanner {
            grid-row: 1/6;
            grid-column: 1/2;
        }
        .text-gridbanner-parent .main {
            align-self: self-end;
            grid-row: 2/3;
        }
        .text-gridbanner-parent .blue {
            grid-row: 3/4;
        }
        .text-gridbanner-parent .blue .segundo {
            grid-row: 4/5;
        }
        .parrafogridbanner-parent {
            .parrafogridbanner {
                font-size: 3vw;
                margin-top: 1rem;
            }
        }
        .buttonparent {
            grid-row: 7/8;
            grid-column: 1/3;
            margin-bottom: 1rem;
            .buttonreserva {
                font-size: 4vw;
            }
        }
    }

// INDEX: SEC CABAÑAS

    .secCabanas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        .titancestral {
            order: -3;
            .titcab {
                font-size: 7vw;
            }
        }
        .titsafari {
            order: 1;
            .titcab {
                font-size: 7vw;
            }
        }
        .imgsafari {
            order: 2;
            .cabanas {
                width: 60vw;
            }
        }
        .imgancestral {
            order: -2;
            .cabanas {
                width: 60vw;
            }
        }
        .prancestral {
            order: -1;
            .precio {
                font-size: 5vw;
            }
        }
        .prsafari {
            order: 3;
            .precio {
                font-size: 5vw;
            }
        }
        .incluye {
            grid-column: unset;
            order: 6;
            font-size: 1rem;
            padding: 0 5%;
            text-align: center;
            .incluyetitulo {
                font-size: 3rem;
                color: $third;
            }
        }
    }

// INDEX: BANNER FOTOS

    .bannerfotos {
        grid-template-rows: repeat(4, 30vh);
        grid-template-columns: repeat(2, 1fr);
    }

// INDEX: LOCATION

    .location {
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto;
        .hlocation {
            grid-column: unset;
            font-size: 9vw;
        }
        #dlocation {
            grid-row: unset;
            height: 40vh;
        }
        .divlocation {
            .dlocation {
                font-size: 7vw;
            }
            .horariosLocation {
                font-size: 2.5vw;
            }
        }
    }

    // FOOTER 

    .footer {
        .correo {
            font-size: 3vw;
        }
        .textfooter {
            font-size: 2vw;
            padding: 0 2vw;
        }
        .textfooterdos {
            font-size: 1.5vw;
        }
    }
    
    // ACTIVIDADES PAGE //

    // SEC ACTIVIDADES 

    .titdeportes {
        font-size: 3rem;
    }

    .textdeportes {
        font-size: 1.3rem;
    }

    .secdeportes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        align-content: center;
        text-align: center;
        padding: 4vh 0;
        .imgdeporte {
            width: 70vw;
        }
        .iframecascada {
            grid-column: unset;
            display: none;
        }
        .carrusel {
            grid-column: unset;
            display: none;
        }
        div {
            .pdeportes {
                font-size: 3rem;
            }
            .pdeportes.precio {
                font-size: 1.5rem;
            }
        }
    }

    // CABAÑAS PAGE //

    // SAFARI

    .titcabanapage {
        padding-top: 2.5vh;
    }

    .cabanasafari {
        padding-bottom: 2vh;
        flex-direction: column;
        .parrafocabanas {
            width: 80vw;
            font-size: 2.5vw;
        }
    }

    // QUIENES SOMOS PAGE //

    .bannersomos {
        .titsomos {
            font-size: 6vw;
        }
        .psomos {
            font-size: 2.5vw;
        }
    }

    .nuestrassomos {
        .imgsomos2 {
            .imgsomoss2 {
                height: auto;
            }
        }
        .divparrafobanner {
            .parrafobanner {
                font-size: 2vw;
            }
            .botonsomos {
                font-size: 2vw;
            }
        }
    }
}